body{

}


h1 {
    color: orange;
    size: 30px;
    font: bold;
}
p{
    color: blue;
    size: 16px;
    font: normal;
}
h2{
    color: green;
    size: 25px;
    font: 600;
}
p{
    color: blue;
    size: 16px;
    font: normal;
}
h2{
    color: green;
    size: 25px;
    font: 600;
}

